:host {
  display: block;
  width: 100%;
}

.nav-legale ul {
  list-style-type: none;
  padding: 1rem 2rem;
  margin: 0;
  display: flex;
  justify-content: center; /* Centre les tuiles légales */
  gap: 2rem;
  background-color: #0077b6; /* Fond bleu de la barre légale */
}
.nav-bar .btn-tuile {
  display: block;
  width: 100%;
}
